body {
    padding-left: 0px;
    width: 100vw;
    background-color: rgb(0, 72, 12);
    display: flex;
}

.indexbtn{
    width: 80vw;
    border: 1px solid black;
    font-size: 36px;
    font-family: "Noto Sans Bold";
}

.registerframe{
    height:85vh;
}